
<p>
  <b>Name:</b>
  <%= @show.name %>
</p>
<p>
  <b>Description:</b>
  <%= @show.description %>
</p>

<h2> List of Seasons </h2>
<ul>
  <% @show.seasons.each do |season| %>
  <li> <%= link_to "Season#{season.number}", show_season_path(@show, season) %></li>
  <% end  %>
</ul>


<%= link_to 'New Season', new_show_season_path(@show) %> | 
<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
